body {
  background-color: #fff;
  color: #434455;
  
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;

  counter-reset: sect;
  overflow: scroll;
}


/* reset styles */
h1,
h2,
h3,
p {
  margin: 0;
}
ul,
ol,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  color: currentColor;
  text-decoration: none;
}
address {
  font-style: inherit;
}
button {
  font-family: inherit;
  color: currentColor;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  border: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* common styles */
.container {
  max-width: 320px;
  padding: 0px 16px;
  margin: 0px auto;

  /* outline: 2px solid green;
  outline-offset: -2px; */
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0px 15px;
  }
}
.hide {
  display: none;
}
.section {
  padding: 96px 0px;
}
@media only screen and (min-width: 1158px) {
  .section {
    padding: 120px 0px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo,
.form-label,
.form-textarea,
.checkbox-label {
  line-height: 1.17;
}
.logo-light,
.footer-slogan,
.overlay {
  color: #f4f4fd;
}
.nav-link,
.hero-btn,
.users-review,
.portfolio-captain,
.social-desc,
.subscribe-desc,
.subscribe-btn,
.modal-desc,
.form-btn,
.menu-contacts-item {
  font-weight: 500;
}
.logo-dark,
.nav-link,
.benefits-captain,
.users-subject,
.users-review,
.portfolio-subject,
.portfolio-captain,
.modal-desc,
.menu-nav-item {
  color: #2e2f42;
}
.nav-link,
.address-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:focus,
.address-link:hover {
  color: #404bbf;
}

.hero,
.footer {
  background-color: #2e2f42;
}
.hero,
.hero-btn,
.social-desc,
.form-btn,
.subscribe-desc,
.subscribe-input::placeholder {
  color: #fff;
}
.users-review,
.portfolio-captain,
.menu-contacts-item {
  font-size: 20px;
  line-height: 1.2;
}
.benefits-desc,
.users-desc,
.portfolio-desc,
.menu-contacts-item {
  color: #434455;
}
.hero-title,
.subject,
.benefits-captain,
.modal-desc,
.subscribe-btn,
.form-btn {
  text-align: center;
}
.subject {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

.hero-title,
.benefits-captain,
.subject,
.menu-nav-item {
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
}
@media only screen and (min-width: 768px) {
  .benefits-captain {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
}
.hero-btn,
.social-item,
.form-btn {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn,
.subscribe-input,
.subscribe-btn,
.form-btn,
.form-label,
.form-textarea,
.checkbox-label {
  letter-spacing: 0.04em;
}
.hero-btn,
.form-btn {
  line-height: inherit;
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;
  background-color: #4d5ae5;
}

.subscribe-input::placeholder,
.form-label,
.form-textarea,
.checkbox-label,
.form-input {
  font-size: 12px;
  font-weight: 400;
}

/* header */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}
.header-nav {
  display: flex;
  /* віростання ел-та за потреб */
  flex-grow: 1;
  align-items: center;
}
.header-logo {
  display: inline-flex;
}
@media only screen and (max-width: 767.98px) {
  .header-logo {
    padding: 16px 0px;
  }
}
@media only screen and (min-width: 768px) {
  .header-logo {
    margin-right: 120px;
  }
}
@media only screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
}
.logo-dark {
}
.menu-btn-open {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}
@media only screen and (min-width: 768px) {
  .menu-btn-open {
    display: none;
  }
}
.nav-list {
  display: flex;
  gap: 40px;
}
.address-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media only screen and (min-width: 1158px) {
  .address-list {
    flex-direction: row;
    gap: 40px;
  }
}
@media only screen and (max-width: 767.98px) {
  .nav-list,
  .address-list {
    display: none;
  }
}
.nav-item {
}
.nav-link {
  display: block;
  padding: 24px 0px;
  position: relative;
}
.active-js {
  color: #404bbf;
}
.active-js::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  position: absolute;
  bottom: -1px;
}

.address-link {
  font-size: 16px;
}
@media only screen and (min-width: 768px) {
  .address-link {
    font-size: 12px;
    line-height: 1.17;
  }
}

/* hero section */
  .hero {
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      image-set(
      url(../images/1_hero/img_mob@1x.webp) 1x,
      url(../images/1_hero/img_mob@2x.webp) 2x);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
@media only screen and (min-width: 768px) {
  .hero {
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
       image-set(
       url(../images/1_hero/img_tab@1x.webp) 1x,
       url(../images/1_hero/img_tab@2x.webp) 2x);
  }
}

@media only screen and (min-width: 1158px) {
  .hero {
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
       image-set(
      url(../images/1_hero/img_desk@1x.webp) 1x,
      url(../images/1_hero/img_desk@2x.webp) 2x);
  }
}
.hero-container {
  padding: 0;
}
.hero-title {
  max-width: 216px;
  margin: 0 auto;
  margin-bottom: 72px;
}
@media only screen and (min-width: 768px) {
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }
  .hero-title {
    margin-bottom: 36px;
  }
}
@media only screen and (min-width: 1158px) {
  .hero-title {
    margin-bottom: 48px;
  }
}
.hero-btn:focus,
.hero-btn:hover {
  background-color: #404bbf;
}
.subscribe-btn:focus,
.subscribe-btn:hover {
  background-color: #404bbf;
}


/* benefits section */
.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
@media only screen and (min-width: 768px) {
  .benefits-list {
    gap: 72px 24px;
  }
  .benefits-item {
    width: calc((100% - 1 * 24px) / 2);
  }
}
@media only screen and (min-width: 1158px) {
  .benefits-list {
    gap: 24px;
  }
  .benefits-item {
    width: calc((100% - 3 * 24px) / 4);
  }
}
.benefits-wrapper-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
}
.benefits-wrapper-icon:hover {
  border: 1px solid #404bbf;
}
@media only screen and (max-width: 1157.98px) {
  .benefits-wrapper-icon {
    display: none;
  }
}
.benefits-captain {
  margin-bottom: 8px;
}
@media only screen and (min-width: 768px) {
  .benefits-captain {
    text-align: left;
  }
}

/* users section */
.users {
  background-color: #f4f4fd;
}
.users-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
  border-radius: 0px 0px 4px 4px;
}
.users-item {
  display: flex;
  flex-direction: column;


  background-color: #fff;
  border-radius: 0px 0px 4px 4px;

  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
@media only screen and (min-width: 768px) {
  .users-list {
    gap: 64px 24px;
    padding: 0 108px;
  }
  .users-item {
    width: calc((100% - 1 * 24px) / 2);
  }
}
@media only screen and (min-width: 1158px) {
  .users-list {
    gap: 24px;
    padding: 0px;
  }
  .users-item {
    width: calc((100% - 3 * 24px) / 4);
  }
}

.users-wrapper {
  padding: 32px 0px;
  text-align: center;
}
.users-review,
.users-desc {
  margin-bottom: 8px;
}
.socials-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.social-item {
  width: 40px;
  height: 40px;
}
.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}
.social-icon:focus,
.social-icon:hover {
  background-color: #404bbf;
}
.icon {
  fill: #f4f4fd;
}

/* portfolio section */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}
.portfolio-item {
  position: relative;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
@media only screen and (min-width: 768px) {
  .portfolio-list {
    gap: 72px 24px;
  }
  .portfolio-item {
    width: calc((100% - 1 * 24px) / 2);
  }
}
@media only screen and (min-width: 1158px) {
  .portfolio-list {
    gap: 48px 24px;
  }
  .portfolio-item {
    width: calc((100% - 2 * 24px) / 3);
  }
}
.portfolio-overlay {
  position: relative;
  overflow: hidden;
}
.portfolio-pic {
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  padding: 40px 32px;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .overlay {
  transform: translateY(0);
}
.portfolio-wrapper {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-captain {
  margin-bottom: 8px;
}
.portfolio-desc {
}

/* footer section */
.footer {
  padding: 96px 0px;
}
@media only screen and (max-width: 767.98px) {
  .footer-top {
    text-align: center;
  }
}
@media only screen and (min-width: 768px) {
  .footer-top {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    gap: 72px 24px;
    padding: 0px 108px;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-top {
    display: flex;
    flex-wrap: nowrap;
    padding: 0px 16px;
  }
}
@media only screen and (max-width: 767.98px) {
  .footer-logo-slogan,
  .footer-social-menu {
    margin-bottom: 72px;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-logo-slogan {
    margin-right: 120px;
  }
}
.footer-logo {
  display: block;
  margin-bottom: 16px;
}
.footer-slogan {
  text-align: left;
}
@media only screen and (min-width: 768px) {
  .footer-slogan {
    max-width: 264px;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-social-menu {
    margin-right: auto;
  }
}
.social-desc,
.subscribe-desc {
  margin-bottom: 16px;
}
.footer-icon {
  gap: 16px;
}
.footer-pic {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-pic:focus,
.footer-pic:hover {
  background-color: #31d0aa;
}
@media only screen and (min-width: 768px) {
  .form-subscribe {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: baseline;
  }
}
.subscribe-input {
  background-color: transparent;
  color: #fff;

  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  outline: transparent;

  width: 100%;
  margin-bottom: 16px;
  padding: 8px 16px;
}
@media only screen and (min-width: 768px) {
  .subscribe-input {
    width: 264px;
    height: 40px;
  }
}
.subscribe-input::placeholder {
  line-height: 2;
  letter-spacing: 0.03em;
}
.subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  min-width: 165px;
  height: 40px;
  border-radius: 4px;
  padding: 8px 24px;

  background-color: #4d5ae5;
  color: #fff;
  line-height: 1.5;

  margin: 0 auto;
}

.subscribe-icon {
  fill: currentColor;
}

/* Modal window */
.backdrop {
  background: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
  width: 100%;
  height: 100%;
  
  position: fixed;
  top: 0;
  left: 0;

  opacity: 0;
  visibility: hidden;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  display: flex;
  flex-direction: column;

  width: 288px;
  height: 100%;
 
  border-radius: 4px;
  background-color: #fcfcfc;

  padding: 10px;
  /* center */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 2px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
  .modal {
    width: 408px;
    height: 584px;
    padding: 24px;
    padding-top: 72px;
  }
}
.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;

  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  /* fill: #2E2F42; */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
}
.modal-btn-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover > .modal-btn-icon,
.modal-btn:focus > .modal-btn-icon {
  fill: #ffffff;
}
.modal-desc {
  margin-bottom: 16px;
}
.form-wrapper {
  margin-bottom: 8px;
}
.form-label {
  display: block;
  margin-bottom: 4px;
}
.form-label,
.checkbox-label {
  color: #8e8f99;
}
.form-field {
  position: relative;
  
  margin-bottom: 16px;
}
.form-input {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 38px;
  /* стиль контура для элемента */
  outline: transparent; 
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus,
.form-textarea:focus {
  border-color: #4d5ae5;
}
.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:hover + .form-icon,
.form-input:focus + .form-icon {
  fill: #4d5ae5;
}

.form-textarea {
  width: 100%;
  height: 80px;
  resize: vertical;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  /* стиль контура */
  outline: transparent;
  /* запрет изменения размера */
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
}
.form-checkbox {
  margin-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  .form-checkbox {
 
}
}
.checkbox-label {
  display: block;
  user-select: none;
}

.checkbox-link {
  color: #4d5ae5;
  text-decoration-line: underline;
}
.form-btn {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/* mobile menu */
.menu {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 72px 24px 40px 16px;

  display: flex;
  flex-direction: column;

  transform: translateX(-100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  visibility: hidden;
  opacity: 0;
}

.menu-btn-close {
  background-color: transparent;
}
.menu-nav-list-js {
  margin-bottom: auto;
}
.menu-nav-item {
  font-weight: 700;
}
.menu-nav-item:not(:last-child) {
  margin-bottom: 40px;
}
.menu-contacts-list {
  margin-bottom: 48px;
}
.menu-contacts-item:not(:last-child) {
  margin-bottom: 24px;
}

.menu-socials-list {
  gap: 40px;
  justify-content: left;
}

/* open-closed form */
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}
/* open-closed menu */
.menu.menu-js {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}